[user]
    name = Kevin Yang
    email = yangke@umich.edu
[core]
    editor = vim
    whitespace = trailing-space, space-before-tab
    pager = delta
    fileMode = false
    excludesfile = /Users/kyang/.config/git/ignore
    fsmonitor = true
    untrackedCache = true
[color]
    ui = true
    branch = auto
    diff = auto
    status = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
# [color "diff"]
#     meta = yellow
#     frag = magenta bold
#     commit = yellow bold
#     old = red bold
#     new = green bold
#     whitespace = red reverse
[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = green bold
    newHighlight = green bold 22
[color "status"]
    added = green
    changed = yellow
    untracked = red
[diff]
    renames = copies
    mnemonicprefix = true
[merge]
    stat = true
    tool = "nvim"
[branch]
    autosetuprebase = always    # rebase on pull rather than merge
    autosetupmerge = true       # when branching off a remote, automatically let local track remote
[push]
    autoSetupRemote = true
[alias]
    # Basics
    a = add
    c = commit
    s = status
    co = checkout
    d = diff
    du = "diff @{upstream}"
    b = branch
    f = fetch
    r = rebase
    # Logging
    lg = log --graph --abbrev-commit --decorate --pretty=format:'%C(bold yellow)%h%C(reset) - %C(bold green)(%cr)%C(reset) %C(white)%s%C(reset) %C(bold cyan)%d%C(reset)'
    l = log --abbrev-commit --decorate --pretty=format:'%C(bold yellow)%h%C(reset) - %C(bold green)(%cr)%C(reset) %C(white)%s%C(reset) %C(bold cyan)%d%C(reset)'
    lg2 = log --graph --abbrev-commit --decorate --pretty=format:'%C(bold yellow)%h%C(reset) - %C(bold blue)%aD%C(reset) %C(bold green)(%cr)%C(reset) %C(bold red)[%aN]%C(reset)%C(bold cyan)%d%C(reset)%n''          %C(white)%s%C(reset)%n' --all
    l2 = log --abbrev-commit --decorate --pretty=format:'%C(bold yellow)%h%C(reset) - %C(bold blue)%aD%C(reset) %C(bold green)(%cr)%C(reset) %C(bold red)[%aN]%C(reset)%C(bold cyan)%d%C(reset)%n''          %C(white)%s%C(reset)%n' --all

    ll = log --pretty=format:'%C(bold cyan)%d%C(reset)%n''%C(bold yellow)%h%C(reset) - %C(bold green)(%cr)%C(reset) %C(white)%s%C(reset) %C(bold red)[%aN]%C(reset)' --numstat

    # display most frequently edited files. Inspired by https://github.com/jez/git-heatmap
    heat = !git log --name-only --pretty=format: | grep --color=never . | sort | uniq -c | sort -nr

    # The following taken from https://blog.jez.io/cli-code-review/
    # list files which have changed since REVIEW_BASE
    files = !git diff --name-only $(git merge-base HEAD \"$REVIEW_BASE\")
    stat = !git diff --stat $(git merge-base HEAD \"$REVIEW_BASE\")

    # Open all files changed since REVIEW_BASE in Vim tabs
    # Then, run fugitive's :Gdiff in each tab, and finally
    # tell vim-gitgutter to show +/- for changes since REVIEW_BASE
    review = !nvim -p $(git files) +\"tabdo Gvdiffsplit $REVIEW_BASE\" +\"let g:gitgutter_diff_base = '$REVIEW_BASE'\"

    # Same as the above, except specify names of files as arguments,
    # instead of opening all files:
    # git reviewone foo.js bar.js
    reviewone = !nvim -p +\"tabdo Gdiff $REVIEW_BASE\" +\"let g:gitgutter_diff_base = '$REVIEW_BASE'\"

[url "git@github.com:"]
    insteadOf = https://github.com/
[mergetool]
	keepBackup = false
    trustExitCode = true
    prompt = false
[mergetool "nvim"]
    cmd = nvim -f -c \"DiffviewOpen\"
[stash]
    showPatch = true
[difftool]
    trustExitCode = true

[interactive]
    diffFilter = delta --color-only --features=interactive

[delta]
    features = decorations

[delta "interactive"]
    keep-plus-minus-markers = false

[delta "decorations"]
    commit-decoration-style = blue ol
    commit-style = raw
    file-style = omit
    hunk-header-decoration-style = blue box
    hunk-header-file-style = red
    hunk-header-line-number-style = "#067a00"
    hunk-header-style = file line-number syntax
