[user]
    name = Kevin Yang
    email = yangke@umich.edu

[core]
    editor = vim
    whitespace = trailing-space, space-before-tab
    excludesfile = ~/.gitexcludes
    pager = "less -ErX"
[color]
    ui = auto
    branch = auto
    diff = auto
    status = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = normal 
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[diff]
    renames = copies
    mnemonicprefix = true
[merge]
    stat = true
[branch]
# rebase on pull rather than merge
    autosetuprebase = always
[push]
    default = simple
[alias]
# Basics
    a = add
    c = commit
    s = status
    co = checkout
    d = diff
    b = branch

# Logging
    lg1 = log --graph --abbrev-commit --decorate --pretty=format:'%C(bold yellow)%h%C(reset) - %C(bold green)(%cr)%C(reset) %C(white)%s%C(reset) %C(bold cyan)%d%C(reset)' 
    lg2 = log --graph --abbrev-commit --decorate --pretty=format:'%C(bold yellow)%h%C(reset) - %C(bold blue)%aD%C(reset) %C(bold green)(%cr)%C(reset) %C(bold red)[%an]%C(reset)%C(bold cyan)%d%C(reset)%n''          %C(white)%s%C(reset)%n' --all
    ll = log --pretty=format:'%C(bold cyan)%d%C(reset)%n''%C(bold yellow)%h%C(reset) - %C(bold green)(%cr)%C(reset) %C(white)%s%C(reset) %C(bold red)[%cn]%C(reset)' --numstat
    lg = !"git lg1"
